    <section class="wrapper mt-5">
		<div class="container d-flex">
			<div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
				

				<form style="background-color: rgb(255, 255, 255);" class="rounded shadow p-5" method="post" action="/edit-product">
					<h4 class="text-dark fw-bolder fs-4 mb-5">EDIT PRODUCT</h4>
					
                                        
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingProductName" value="{{product.name}}" placeholder="Product-Name" disabled>
                        <label for="floatingProductName">Product Name</label>
                    </div>
                    <div class="form-floating mb-3">
						<input type="number" class="form-control" id="floatingPhoneInput" value="{{product.phone}}"  placeholder="9876543210" disabled>
						<label for="floatingPhoneInput">Phone No.</label>
					</div>
					<div class="form-floating mb-3">
						<input type="email" class="form-control" id="floatingEmailInput" value="{{product.email}}" placeholder="name@example.com" disabled>
						<label for="floatingEmailInput">Email Address</label>
					</div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingProductColor" value="{{product.color}}" placeholder="Product-color" disabled>
                        <label for="floatingProductColor">Product Color</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingProductSize" value="{{product.size}}" placeholder="Product-size" disabled>
                        <label for="floatingProductSize">Product Size</label>
                    </div>
                    <div class="form-floating mb-3">
						<input type="number" class="form-control" id="floatingAmountInput"  value="{{product.amount}}" name="productAmount" placeholder="0" >
						<label for="floatingAmountInput">Amount</label>
					</div>
										
					<button type="submit" id="signUpSubmit" class="btn btn-primary submit_btn w-100 mt-4">Continue</button> 
                    
                    <input style="visibility: hidden;" type="text" name="productId" value="{{product._id}}">
				</form>
			</div>
		</div>
	</section>


    

   <style>
    :root{
    --light-white:#f5f8fa;
    --gray:#5e6278;
    --gray-1:#e3e3e3;
    }

	body {
		background-color: rgb(244, 255, 244);
        font-size: 14px;
	}
    .wrapper{
        padding:0 0 100px;
        background-position:bottom center;
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        min-height: 100%;
    }
    .wrapper .logo img{
        max-width:40%;
    }
    .wrapper input{
        background-color:var(--light-white);
        border-color:var(--light-white);
        color:var(--gray);
    }
    .wrapper input:focus{
        box-shadow: none;
    }
    .wrapper .password-info{
        font-size:10px;
    }
    .wrapper .submit_btn{
        padding:10px 15px;
        font-weight:500;
    }
    .wrapper .login_with{
        padding:8px 15px;
        font-size:13px;
        font-weight: 500;
        transition:0.3s ease-in-out;
    }
    .wrapper .submit_btn:focus,
    .wrapper .login_with:focus{
        box-shadow: none;
    }
    .wrapper .login_with:hover{
        background-color:var(--gray-1);
        border-color:var(--gray-1);
    }
    .wrapper .login_with img{
        max-width:7%;
    }
   </style>
